# Exclut les fichiers inutiles du contexte Docker pour accélérer le build

venv/
.venv/
__pycache__/
*.pyc
*.pyo

mlruns/
.git/
.dvc/cache/
.dvc/tmp/

outputs/
metrics/
monitoring/reports/

.env
.env.*
!.env.example

.pytest_cache/
tests/

*.ipynb
*.ipynb_checkpoints/

.DS_Store
.idea/
.vscode/

README.md
docker-compose.yml
render.yaml
